<div>
    <h3>Programmes List</h3>

    <ul class="nav nav-pills">
        <li role="presentation" ng-repeat="letter in lc.alphabet" ng-class="(lc.selectedTab === letter) ? 'active' : ''">
            <a href="#" ng-click="lc.selectTab(letter)">{{letter | uppercase}}</a>
        </li>
    </ul>

    <dl>
        <dt dir-paginate-start="programm in lc.programmes | itemsPerPage: lc.programmesPerPage" total-items="lc.programmesTotal">
            {{programm.title}}
        </dt>
        <dd dir-paginate-end>Image</dd>
    </dl>

    <dir-pagination-controls></dir-pagination-controls>
</div>